In [20]:
%run ../../bin/imports.ipynb

### Importing correct purities for training/test set

In [1]:
train_df = pd.read_csv('/rnd/users/rpyke/data/00-DASH/data/pipeline_results.training_data.v7.csv', index_col=0)
test_df = pd.read_csv('/rnd/users/rpyke/data/00-DASH/data/pipeline_results.testing_data.v7.csv', index_col=0)

NameError: name 'pd' is not defined

In [3]:
purity_ploidy_df = pd.read_csv('/rnd/users/rpyke/data/00-DASH/data/purity_ploidy.nextDB_03.csv', index_col=0)

In [9]:
purity_ploidy_df['sample'] = purity_ploidy_df['Sample']
purity_ploidy_df['purity'] = purity_ploidy_df['Purity']
purity_ploidy_df['ploidy'] = purity_ploidy_df['Ploidy']

In [10]:
train_df.head()

,sample,gene,purity,ploidy,sequenza_major,sequenza_minor,baf_0,baf_1,baf_2,baf_3,...,numMismatch_17,numMismatch_18,numMismatch_19,numMismatch_20,numMismatch_21,numMismatch_22,numMismatch_23,ind,LOH,Notes
0,DNA_NGT-LCS-1907004T,B,0.10,3,2.0,2.0,-0.033695,-0.013843,-0.057846,0.009890,...,1,2,3,8,1,0,NaN,477,False,NaN
1,DNA_ILS35295PT4,A,0.11,2,1.0,1.0,NaN,-0.002100,-0.066034,-0.006211,...,9,2,3,4,5,2,0.0,33,False,NaN
2,DNA_ILS35295PT4,B,0.11,2,1.0,1.0,NaN,-0.031146,-0.022738,-0.062918,...,0,0,0,0,0,0,NaN,34,False,NaN
5,DNA_NGT-BR-1905002T,C,0.24,2,1.0,1.0,0.063009,-0.009181,-0.072906,-0.034209,...,5,5,4,8,1,0,NaN,310,False,NaN
6,DNA_ILS33973PD4,A,0.24,5,2.0,0.0,NaN,0.157581,NaN,0.180994,...,1,0,0,2,0,2,0.0,54,True,NaN

In [11]:
purity_ploidy_df.head()

   Purity  Ploidy                Sample                sample  purity  ploidy
0    0.23       6         DNA_616924PT2         DNA_616924PT2    0.23       6
0    0.84       3        DNA_100831-24T        DNA_100831-24T    0.84       3
0    0.96       2             DNA_36144             DNA_36144    0.96       2
0    0.13       5  DNA_NGT-LCS-1907004T  DNA_NGT-LCS-1907004T    0.13       5
0    0.56       2       DNA_ILS35295PT4       DNA_ILS35295PT4    0.56       2

In [12]:
len(train_df), len(test_df)

(500, 220)

In [18]:
train_df_new = pd.merge(train_df[[x for x in train_df.columns if x not in ['purity', 'ploidy']]],
         purity_ploidy_df[['sample', 'purity', 'ploidy']], on='sample', how='left')
test_df_new = pd.merge(test_df[[x for x in test_df.columns if x not in ['purity', 'ploidy']]],
         purity_ploidy_df[['sample', 'purity', 'ploidy']], on='sample', how='left')

In [19]:
train_df_new.to_csv('/rnd/users/rpyke/data/00-DASH/data/pipeline_results.training_data.v8.csv')
test_df_new.to_csv('/rnd/users/rpyke/data/00-DASH/data/pipeline_results.testing_data.v8.csv')